@use "../../var";

.aboutContainer {
  margin: 0 auto;
  text-align: center;
  max-width: 1920px;
  border-radius: 1rem;
  min-height: 90vh;
}

.about {
  margin-top: 6%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.avatar {
  border: 2px solid var.$secondary-color;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.title {
  margin-top: 5%;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

.aboutMeContent {
  font-size: 1.3rem;
  width: 600px;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 360px;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.skillsContainer {
  width: 600px;
  min-width: 360px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.email {
  color: rgb(13, 160, 123);
}

/* css for skills section  */

.iconContainer {
  font-size: 16px;
  margin: 1rem;
  width: 120px;
  text-align: center;
  padding: 1rem;
  border: 1px solid var.$secondary-color;
  background-color: var.$primary-color;
  border-top-right-radius: 1rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  transform: rotate(10deg);
}

.iconContainer:hover {
  transform: scale(1.1);
}

.icon {
  width: 70px;
}

@media screen and (max-width: 1000px) {
  .aboutContainer {
    margin-top: 5rem;
    width: 100%;
    text-align: center;
  }

  .aboutMeContent {
    margin: 0;
  }

  .skillsContainer {
    width: 100%;
  }

  .iconContainer {
    transform: none;
  }
}
