@use "../../var";

.aboutWrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 1920px;
  border-radius: 1rem;
  min-height: 90vh;
}

.about {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.aboutHeader {
  padding-top: 6rem;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  border-bottom: 10px solid black;
}

.aboutMeContent {
  max-width: 1600px;
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 360px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;

  div {
    max-width: 900px;
    background-color: var.$black;
    color: var.$grey;
    padding: 1rem;
    border-radius: 5px;
  }
}

.aboutMeContent img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid var.$secondary-color;
  width: 250px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .title {
    background-color: var.$secondary-color;
    color: var.$primary-color;
    padding: 5px 20px 5px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-top-right-radius: 1rem;
  }

  .skill {
    min-height: 275px;
    min-width: 325px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var.$secondary-color;
    background-color: var.$black;
    gap: 1rem;
    padding: 1rem;

    div {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-size: 1.1rem;
      color: var.$grey;
    }

    img {
      width: 25px;
    }
  }
}

.email {
  color: rgb(13, 160, 123);
}

/* css for skills section  */

@media screen and (max-width: 1000px) {
  .about {
    gap: 2rem;
  }
  .aboutContainer {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }

  .aboutMeContent {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .skillsContainer {
    width: 100%;
  }
}
