@use "../../var";

.contact {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactHeader {
  padding-top: 6rem;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  border-bottom: 10px solid var.$black;
}

.formContainer {
  padding: 1rem;
  max-width: 1000px;
  width: 100%;
  margin: 2rem auto;
  line-height: 3rem;
  background-color: var.$black;
  border-radius: 5px;
  color: var.$grey;
}

.formContainer input,
textarea {
  padding: 0.7rem;
  border-radius: 5px;
  border: 2px solid var.$grey;
  color: var.$secondary-color;
  font-weight: bolder;
}

.formContainer input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var.$secondary-color;
}

.formContainer label {
  font-size: 1.3rem;
}

.nameEmailContainer {
  width: 60%;
}

.inputContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.textareaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.submit {
  border: none;
  border-radius: 5px;
  border: 1px solid var.$secondary-color;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var.$secondary-color;
  color: var.$black;
  font-weight: bolder;
}

.submit:hover {
  background-color: var.$black;
  color: var.$secondary-color;
}

@media screen and (max-width: 1000px) {
  .formContainer {
    width: 95%;
  }

  .nameEmailContainer {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .formContainer {
    width: 100%;
  }

  .nameEmailContainer {
    width: 100%;
  }
}
