@use "./var";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Roboto+Slab:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-color);
  font-family: "Roboto Slab", serif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  background-color: var.$primary-color;
}

hr {
  color: var(--secondary-color);
}

ul {
  // list-style-type: none;
}

.App {
  color: var.$primary-color;
  background-color: rgb(27, 27, 27);
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
